@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}


::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  /* background: rgb(71, 85, 105) */
    background: rgb(24, 24, 24)
}
:root {
--bg: 245 247 250;
--panel: 255 255 255;
--text: 15 23 42;
--muted: 100 116 139;
--border: 226 232 240;
}


.dark {
--bg: 218 19% 5%;
--panel: 17 20 24;
--text: 226 232 240;
--muted: 148 163 184;
--border: 38 46 52;
}


* {
@apply border-[rgb(var(--border))];
}